@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-color: #9b80c5;
  --border-radius: 8px;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--primary-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%237744c8' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 100;


}

h1 {
  color: white;
  padding: 20px;
  background: rgba(0,0,0,0.5);
  border-radius: var(--border-radius);
  cursor: pointer;
  text-transform: uppercase;
  width: 275px;
  margin: 20px auto 10px;
  user-select: none;
  text-align: center;
}

h1:hover {
  background: rgba(0,0,0,0.8);
}
/* Bookmarks */
.container {
  display: flex;
  direction: row;
  flex-wrap: wrap;
}

.item {
  background: rgba(0,0,0,0.5);
  color: white;
  border-radius: var(--border-radius);
  padding: 20px;
  margin: 10px;
}

.item:hover {
  background: rgba(0,0,0,0.8);
}

a {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

a:link,
a:visited {
  color: white ;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

.fa-times {
  float: right;
  cursor: pointer;
  z-index: 2;
}

.name {
  margin-top: 20px;
  margin-right: 20px;
}
.name img {
 height: 20px;
 width: 20px;
 vertical-align: sub;
 margin-right: 5px;
}

/* Modal */
.modal-container {
  background-color: rgba(0,0,0,0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.show-modal {
  display: flex;
  justify-content: center;
  align-items: center;

}

.modal {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
  max-width: 95%;
  width: 500px;
  animation: modalopen 2s;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal .close-icon {
  float: right;
  color: white;
  font-size: 24px;
  position: relative;
  top: 13px;
  right: 16px;
  cursor: pointer;
}

.modal-header {
  background: var(--primary-color);
  color: white;
  padding: 15px;
}

h3 {
  margin: 0;
}

.modal-content { 
  padding: 20px;
  background: whitesmoke;
}

/* Form */
.form-group {
  height: 55px;
}

.form-input {
  width: 97%;
  padding: 5px;
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
  display: block;
  outline: none;
}

.form-label {
  color: var(--primary-color);
  display: block;
}

button {
  cursor: pointer;
  color: white;
  background: var(--primary-color);
  height: 30px;
  width: 100px;
  border: none;
  border-radius: var(--border-radius);
  margin-top: 10px;
}

button:hover {
  filter: brightness(110%);
}

button:focus {
  outline: none;
}
/* Media Query */
@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;;
  }
}